.button {
  
    padding: 10px 25px;
    
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 700;
}

.button:focus {
    outline: none;
}

.button-default {
  color: #5c0ed8;
  background: transparent;
  border-color: #44edac;
  border-radius: 0;
  border-width: 2px;
}

.button-default:hover, .button-default:active {
  color: #fff;
  background-color: #5c0ed8;
  cursor: pointer;
}

.button-default:active {
  border-style: solid;
  background-color: #2b0765;
}

.button-other{
  color: #fff;
  background: #028ae0;
  border-radius: 5px;
  border-color: #028ae0;
  border-width: 2px;
}

.button-default:hover, .button-default:active {
  color: #fff;
  background-color: #036fb3;
  cursor: pointer;
}

.button-default:active {
  border-style: solid;
  background-color: #036fb3;
}